//vars

$padding: 8px;
$color-border: #e0e6e8;
$color: #222;

.bins-side_bar, .bins-search_bar {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $color;
}

.bins-footer {
  font-size: 12px;
  padding: 3px 0;
  margin: 3px 0;
  border-bottom: 1px solid $color-border;
}

.bins-avatar {
  float: left;
}

.bins-avatar_img {
  border-radius: 100%;
}

.bins-person .bins-avatar_img {
  width: 50px;
  height: 50px;
}

.bins-connection .bins-avatar_img {
  width: 28px;
  height: 28px;
}

.greens {
  border: 3px solid #80bd01;
}

.blues {
  border: 3px solid #56a3dd
}

.grays, .greys {
  border: 3px solid #e2ebed;
}

.bins-h2 {
  font-size: 18px;
  font-weight: normal;
  color: $color;
  margin: 0 0 5px;
  padding: 5px;
}

.bins-h2-name {
  border-bottom: 1px solid $color-border;
}

.bins-h2-position {
  font-size: 13px;
  padding: 0;
  font-weight: bold;
}

.bins-side_bar .bins-position,
.bins-side_bar .bins-invite,
.bins-side_bar .bins-h2-position {
  margin: 0 0 5px 63px;
}

.bins-invite {
  font-size: 12px;
  font-style: italic;
}

.bins-footer .bins-invite {
  display: inline-block;
  margin: 0;
}

.bins-person_link {
  color: #34658e;
  text-decoration: none;
}

.bins-company_link {
  font-size: 12px;
  /*padding: 0 0 0 5px;*/

}

.bins-email {
  padding: 0 0 0 5px;
}

.bins-email_link {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
}

.bins-link {
  color: gray;
}

.bins-link:hover {
  color: $color;
}

.bins-connections_title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  color: #404040;
  background: #eaf0f2;
  margin: 5px 0;
  padding: 5px 5px;
}

.bins-connections_list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
  padding: 0 0 0 5px;
}

.bins-connection {
  margin: 0 5px 0 0;
}

.bins-connection_link {
  position: relative;
  height: 38px;
  width: 38px;
}

.bins-connection_link:before {
  content: attr(data-initials);
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 38px;
  margin: auto;
  color: gray;
}

.bins-footer {
  text-align: right;
}

.bins-site_link {
  display: inline-block;
  font: 12px/16px arial;
  padding-left: 16px;
  background: transparent url('chrome-extension://__MSG_@@extension_id__/images/ins16.png') center left no-repeat;
}

/*.bins-site_link{
padding-right: 5px;
  display: flex;
  justify-content: flex-end;
}

.bins-site_link:before{
  content: ' ';
  width:16px;
  height:16px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/ins16.png') no-repeat center left;
  flex:0 0 16px;
  display: inline-block;
}*/
.bins-search_bar__content {
  min-height: 55px;
  padding: $padding 0;
  margin: $padding 0;
  display: flex;
}

.bins-person__avatar .bins-avatar_img {
  width: 28px;
  height: 28px;
}

.bins-search_bar {
  position: relative;
  color: $color;
  background-color: rgba(255, 255, 255, .9);
  font-size: 13px;

  .bins-person {
    margin: 0 $padding;
    min-width: 219px;

    .bins-guser &{
      min-width: 227px;
    }
  }
  .bins-person__avatar{
    margin: 0 0 0 $padding;

    .bins-guser &{
      margin: 0;
    }
  }
  .bins-contacts {
    margin: 0 $padding 0 0;
  }
  .bins-h2-name {
    padding: 0;
    margin-bottom: 3px;
  }
  .bins-h2-position {
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  .bins-company_link {
    padding: 0;
  }
  .bins-email {
    padding: 2px 0 0;
    max-width: 200px;
  }
  .bins-email_link {
    display: block;
  }
  .bins-phones {
    max-width: 200px;
    padding: 2px 0 0 0;
    margin: 2px 0 0 0;
    border-top: 1px solid $color-border;
  }
  .bins-phone {
    display: block;
    font-size: 12px;
  }
  .bins-connections {
    margin: 0 20px 0 0;
  }
  .bins-connections_title {
    line-height: 12px;
    margin: -3px 0 0;
    padding: 3px 3px;
  }
  .bins-connections_list {
    margin: 2px;
  }
  .bins-site_link {
    float: right;
    margin: 5px;
  }
}

.bins-button {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  color: #404040;
  border: 1px solid #d4d4d4;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.bins-button_invite {
  margin: 0 0 5px $padding;
}


