.bins-avatar_img {
  border-radius: 100%;
}
.bins-connection .bins-avatar_img{
  width: 35px;
  height: 35px;
}


.greens {
  border: 3px solid #80bd01;
}
.blues{
  border:3px solid #56a3dd
}
.grays,.greys{
  border:3px solid #e2ebed;
}

.bins-h2 {
  font-size: 18px;
  font-weight: normal;
  color: #222;
  margin: 0 0 5px;
  padding: 5px;
}
.bins-h2-name {
  border-bottom: 1px solid #e0e6e8;
}
.bins-h2-position{
  font-size: 13px ;
}
.bins-person_link{
  color: #34658e;
  text-decoration: none;
}
.bins-company_link{
  padding: 0 0 0 5px;

}
.bins-email {
  padding: 0 0 0 5px;
}
.bins-email_link{
  color: gray;
  word-wrap: break-word;
  font-size: 12px;
}
.bins-email_link:hover{
  color: #222;
  word-wrap: break-word;
}
.bins-connections_title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  color: #404040;
  background: #eaf0f2;
  margin: 5px 0;
  padding: 5px 5px;
}
.bins-connections_list{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
  padding:0 0 0 5px;
}
.bins-connection{
  margin: 0 5px 0 0;
}

.bins-search_bar {
  position: relative;
  height: 55px;
  padding: 7px 0 7px 7px;
  color: #222;
  background-color: rgba(255,255,255,.9);
  font-size: 13px;
  margin: 7px 0;
  display: flex;
}

.bins-person__avatar .bins-avatar_img{
  width: 50px;
  height: 50px;
}

.bins-search_bar .bins-person{
  margin: 0 7px;
}
.bins-search_bar .bins-h2-name{
  padding:0 5px 3px;
  margin-bottom: 3px;
}
.bins-search_bar .bins-h2-position {
  font-size: 13px;
  margin: 0;
  padding: 0 5px;
}
.bins-search_bar .bins-email{
  padding-top:2px;
}
.bins-search_bar .bins-phone{
  padding: 0 5px;
  line-height: 38px;
}
.bins-search_bar .bins-connections{
  padding: 0 14px;
}
.bins-search_bar .bins-connections_title {
  line-height: 12px;
  margin: -3px 0 0;
  padding: 3px 3px;
}
.bins-search_bar .bins-connections_list{
  margin: 2px;
}

